<a href="https://colab.research.google.com/github/oas95/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../deep-learning-challenge/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
appclean_dfv1 = application_df.drop(['EIN', 'NAME'], axis=1)

In [4]:
appclean_dfv1.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
for i in appclean_dfv1.columns:
  print(i, len(appclean_dfv1[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = appclean_dfv1['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x:x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies
app_dummies = pd.get_dummies(application_df)

app_dummies.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = app_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = app_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

hidden_node1 = 80

hidden_node2 = 30

hidden_node3 = 30

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_node1, activation='relu', input_dim=input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_node2, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=hidden_node3, activation='relu'))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                1569040

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 30)                930

=================================================================
Total params: 1,572,400
Trainable params: 1,572,400
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, validation_split=0.15, epochs=50)

Epoch 1/50
684/684 [==============================] - 10s 12ms/step - loss: 2.6692 - accuracy: 0.0135 - val_loss: 2.3359 - val_accuracy: 5.1827e-04
Epoch 2/50
684/684 [==============================] - 6s 8ms/step - loss: 1.4330 - accuracy: 0.0058 - val_loss: 2.3260 - val_accuracy: 7.7740e-04
Epoch 3/50
684/684 [==============================] - 6s 9ms/step - loss: 0.4937 - accuracy: 0.0065 - val_loss: 2.4694 - val_accuracy: 0.0016
Epoch 4/50
684/684 [==============================] - 6s 9ms/step - loss: 0.2116 - accuracy: 0.0573 - val_loss: 2.3553 - val_accuracy: 0.0054
Epoch 5/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1669 - accuracy: 0.1263 - val_loss: 2.5373 - val_accuracy: 0.0083
Epoch 6/50
684/684 [==============================] - 7s 11ms/step - loss: 0.1448 - accuracy: 0.1536 - val_loss: 2.4860 - val_accuracy: 0.0137
Epoch 7/50
684/684 [==============================] - 7s 10ms/step - loss: 0.1371 - accuracy: 0.1723 - val_loss: 2.6371 - val_accuracy: 0.0197
Epoch 8/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1351 - accuracy: 0.1758 - val_loss: 2.5788 - val_accuracy: 0.0189
Epoch 9/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1570 - accuracy: 0.1712 - val_loss: 2.4637 - val_accuracy: 0.0176
Epoch 10/50
684/684 [==============================] - 6s 8ms/step - loss: 0.1307 - accuracy: 0.1760 - val_loss: 2.5331 - val_accuracy: 0.0249
Epoch 11/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1218 - accuracy: 0.1789 - val_loss: 2.4664 - val_accuracy: 0.0262
Epoch 12/50
684/684 [==============================] - 6s 8ms/step - loss: 0.1176 - accuracy: 0.1893 - val_loss: 2.4281 - val_accuracy: 0.0316
Epoch 13/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1147 - accuracy: 0.2142 - val_loss: 2.3542 - val_accuracy: 0.2454
Epoch 14/50
684/684 [==============================] - 6s 8ms/step - loss: 0.1170 - accuracy: 0.3689 - val_loss: 2.3196 - val_accuracy: 0.2379
Epoch 15/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1087 - accuracy: 0.2408 - val_loss: 2.3558 - val_accuracy: 0.0293
Epoch 16/50
684/684 [==============================] - 7s 10ms/step - loss: 0.1088 - accuracy: 0.1754 - val_loss: 2.4074 - val_accuracy: 0.0197
Epoch 17/50
684/684 [==============================] - 7s 10ms/step - loss: 0.1080 - accuracy: 0.1887 - val_loss: 2.4763 - val_accuracy: 0.0327
Epoch 18/50
684/684 [==============================] - 8s 12ms/step - loss: 0.1155 - accuracy: 0.2151 - val_loss: 2.6829 - val_accuracy: 0.0500
Epoch 19/50
684/684 [==============================] - 8s 11ms/step - loss: 0.1088 - accuracy: 0.1739 - val_loss: 2.7292 - val_accuracy: 0.0119
Epoch 20/50
684/684 [==============================] - 7s 10ms/step - loss: 0.1056 - accuracy: 0.1618 - val_loss: 2.9232 - val_accuracy: 0.0246
Epoch 21/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1027 - accuracy: 0.1920 - val_loss: 3.0257 - val_accuracy: 0.0332
Epoch 22/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1025 - accuracy: 0.2025 - val_loss: 2.7660 - val_accuracy: 0.0396
Epoch 23/50
684/684 [==============================] - 5s 8ms/step - loss: 0.0987 - accuracy: 0.2205 - val_loss: 2.7988 - val_accuracy: 0.0625
Epoch 24/50
684/684 [==============================] - 6s 8ms/step - loss: 0.1031 - accuracy: 0.2325 - val_loss: 2.4738 - val_accuracy: 0.0446
Epoch 25/50
684/684 [==============================] - 7s 10ms/step - loss: 0.1011 - accuracy: 0.2052 - val_loss: 2.4341 - val_accuracy: 0.0391
Epoch 26/50
684/684 [==============================] - 6s 8ms/step - loss: 0.0979 - accuracy: 0.2247 - val_loss: 2.4550 - val_accuracy: 0.0643
Epoch 27/50
684/684 [==============================] - 7s 10ms/step - loss: 0.1029 - accuracy: 0.2332 - val_loss: 2.4590 - val_accuracy: 0.0671
Epoch 28/50
684/684 [==============================] - 7s 11ms/step - loss: 0.1061 - accuracy: 0.2356 - val_loss: 2.7909 - val_accuracy: 0.0749
Epoch 29/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1025 - accuracy: 0.2349 - val_loss: 2.4817 - val_accuracy: 0.0692
Epoch 30/50
684/684 [==============================] - 7s 10ms/step - loss: 0.0995 - accuracy: 0.2266 - val_loss: 2.4471 - val_accuracy: 0.0697
Epoch 31/50
684/684 [==============================] - 7s 10ms/step - loss: 0.0990 - accuracy: 0.2342 - val_loss: 2.4355 - val_accuracy: 0.0707
Epoch 32/50
684/684 [==============================] - 6s 8ms/step - loss: 0.0992 - accuracy: 0.2373 - val_loss: 2.4675 - val_accuracy: 0.0757
Epoch 33/50
684/684 [==============================] - 7s 11ms/step - loss: 0.1041 - accuracy: 0.2452 - val_loss: 2.5334 - val_accuracy: 0.0816
Epoch 34/50
684/684 [==============================] - 6s 9ms/step - loss: 0.0992 - accuracy: 0.2520 - val_loss: 2.4847 - val_accuracy: 0.0897
Epoch 35/50
684/684 [==============================] - 6s 8ms/step - loss: 0.0977 - accuracy: 0.2588 - val_loss: 2.4229 - val_accuracy: 0.1122
Epoch 36/50
684/684 [==============================] - 6s 8ms/step - loss: 0.0995 - accuracy: 0.2592 - val_loss: 2.4380 - val_accuracy: 0.1029
Epoch 37/50
684/684 [==============================] - 7s 10ms/step - loss: 0.0998 - accuracy: 0.2676 - val_loss: 2.4763 - val_accuracy: 0.1140
Epoch 38/50
684/684 [==============================] - 6s 9ms/step - loss: 0.0993 - accuracy: 0.2950 - val_loss: 2.5220 - val_accuracy: 0.1169
Epoch 39/50
684/684 [==============================] - 7s 10ms/step - loss: 0.0999 - accuracy: 0.2803 - val_loss: 2.4662 - val_accuracy: 0.1042
Epoch 40/50
684/684 [==============================] - 6s 8ms/step - loss: 0.0984 - accuracy: 0.2750 - val_loss: 2.6044 - val_accuracy: 0.1353
Epoch 41/50
684/684 [==============================] - 6s 9ms/step - loss: 0.0975 - accuracy: 0.2424 - val_loss: 2.5587 - val_accuracy: 0.0658
Epoch 42/50
684/684 [==============================] - 7s 11ms/step - loss: 0.0986 - accuracy: 0.2521 - val_loss: 2.5156 - val_accuracy: 0.1161
Epoch 43/50
684/684 [==============================] - 6s 8ms/step - loss: 0.0995 - accuracy: 0.2652 - val_loss: 2.4881 - val_accuracy: 0.1057
Epoch 44/50
684/684 [==============================] - 6s 8ms/step - loss: 0.0997 - accuracy: 0.2726 - val_loss: 2.5099 - val_accuracy: 0.1164
Epoch 45/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1015 - accuracy: 0.2838 - val_loss: 2.5085 - val_accuracy: 0.1169
Epoch 46/50
684/684 [==============================] - 6s 9ms/step - loss: 0.0966 - accuracy: 0.2775 - val_loss: 2.4396 - val_accuracy: 0.1861
Epoch 47/50
684/684 [==============================] - 7s 10ms/step - loss: 0.0965 - accuracy: 0.2757 - val_loss: 2.5698 - val_accuracy: 0.2200
Epoch 48/50
684/684 [==============================] - 6s 9ms/step - loss: 0.1049 - accuracy: 0.3043 - val_loss: 2.5524 - val_accuracy: 0.1109
Epoch 49/50
684/684 [==============================] - 5s 8ms/step - loss: 0.1037 - accuracy: 0.2695 - val_loss: 2.5161 - val_accuracy: 0.1026
Epoch 50/50
684/684 [==============================] - 7s 10ms/step - loss: 0.1033 - accuracy: 0.2731 - val_loss: 2.5382 - val_accuracy: 0.1236

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 3s - loss: 0.7871 - accuracy: 0.1092 - 3s/epoch - 12ms/step
Loss: 0.7870756387710571, Accuracy: 0.10915452241897583

In [18]:
# Export our model to HDF5 file
nn_model.save('Models/AlphabetSoupCharity.h5')